.card{
    background-color: #14253D;
    margin: 5vh 0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card .nft-image, .card .nft-image .view{
    min-height: 285px;
    min-width: 285px;
    height: 23vw;
    width: 23vw;
    max-height: 300px;
    max-width: 300px;
    border-radius: 15px;
}

.card .nft-image{
    background-image: url(../img/image-nft.jpg);
    background-size: cover;
}

.card .nft-image .view{
    background-image: url(../img/icon-view.svg);
    background-color: rgba(0, 255, 247,0.4);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: ease-in 0.25s;
}

.card .nft-image .view:hover{
    opacity: 1;
    cursor: pointer;
}

.card .nft-description{
    max-width: fit-content;
}

.card .nft-description h1{
    display: inline-block;
    color: #FFFFFF;
    font-size: 23px;
    padding: 25px 0;
}

.card .nft-description h1:hover{
    color: #00FFF7;
    cursor: pointer;
}

.card .nft-description p{
    font-weight: 300;
    font-size: 18px;
    color: #8BACDA; 
    margin-bottom: 20px;
}

.card .nft-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #2F415B;
}

.card .nft-info .value, .card .nft-info .time-left, .card .author-info{
    display: flex;
    align-items: center;
}

.card .nft-info .value span{  
    color: #00FFF7;
    font-weight: 800;
    margin-left: 5px;
}

.card .nft-info .time-left span{
    color: #8BACDA;
    font-weight: 800;
    margin-left: 5px;
}

.card .author-info{
    padding-top: 20px;
}

.card .author-info img{
    max-width: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
}

.card .author-info span{
    font-weight: 400;
    color: #8BACDA;
    margin-left: 15px;
}

.card .author-info span a{
    color: #FFFFFF;
}

.card .author-info span a:hover{
    color: #00FFF7;
    cursor: pointer;
}