@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: #0D192B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar{
    width: 2vh;
}

::-webkit-scrollbar-track{
    background: #0D192B;
}

::-webkit-scrollbar-thumb{
    background: #111f37;
}

::-webkit-scrollbar-thumb:hover{
    background: #14253D; 
}

::-webkit-scrollbar-thumb:active{
    background: #13223a;
}