@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: #0D192B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    position: static;
    bottom: 0;
    margin-bottom: 15px;
}

footer p{
    color: #8BACDA;
    font-size: 11px; text-align: center;
}

footer a{
    color: #3E52A3;
}